@model NewsManage.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/LoginCSS.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/loginvalidate.js"></script>
</head>
<body>
@Html.ValidationMessage("CredentialError",new{style="color:red;"})
@using (Html.BeginForm("DoLogin", "Login", FormMethod.Post,new{id="login-form"}))
{
    <div id="lg">
       <h1 >登录</h1>
        <table>
            <tr>
                <td >
                    用户名：
                </td>
                <td >
                    @Html.EditorFor(model => model.Account, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Account, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td >密码：</td>
                <td >
                    @Html.PasswordFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td colspan="2" >
                    <input type="submit" id="sublg" value="登录" onclick="IsValid()"/>
                </td>
            </tr>
        </table>
    </div>
}
</body>
</html>
