@model BackgroundEFManage.ViewModels.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登录</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/logincss.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("DoLogin", "Login", FormMethod.Post))
    {
        <div class="mycenter">
            <div class="mysign">
                <div class="col-lg-11 text-center text-info">
                    <h1>登录</h1>
                    @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
                </div>
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.Account, new {htmlAttributes = new {@class = "form-control", placeholder = "请输入用户名" } })
                    @Html.ValidationMessageFor(model => model.Account, "", new {@class = "text-danger"})
                </div>
                <div class="col-lg-10"></div>
                <div class="col-lg-10">
                    @Html.PasswordFor(model => model.Password, new {@class = "form-control", placeholder ="请输入密码"})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                </div>
                <div class="col-lg-10"></div>
                <div class="col-lg-10">
                    <input type="submit" id="sublg" class="btn btn-success col-lg-12" value="登录" onclick="IsValid()"/>
                </div>
            </div>
        </div>


    }
</body>
</html>
@*<form action="login.php" method="post">
    <div class="mycenter">
        <div class="mysign">
            <div class="col-lg-11 text-center text-info">
                <h2>请登录</h2>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="username" placeholder="请输入账户名" required autofocus/>
            </div>
            <div class="col-lg-10"></div>
            <div class="col-lg-10">
                <input type="password" class="form-control" name="password" placeholder="请输入密码" required autofocus/>
            </div>
            <div class="col-lg-10"></div>
            <div class="col-lg-10 mycheckbox checkbox">
                <input type="checkbox" class="col-lg-1">记住密码</input>
            </div>
            <div class="col-lg-10"></div>
            <div class="col-lg-10">
                <button type="button" class="btn btn-success col-lg-12">登录</button>
            </div>
        </div>
    </div>
</form>*@

