<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title NewsManage</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("script",false)
</head>
<body>
   
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" style="height:auto;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("NewsManage", "Index", "News", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("主页", "Index", "News")</li>
                <li>@*@Html.ActionLink("关于", "About", "Home")*@</li>
                <li>@*@Html.ActionLink("联系方式", "Contact", "Home")*@</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
    <div class="col-md-2">
        <div class="container-after">
            <nav class="navbar navbar-inverse" style="background-color:white;border:none;">
                @*设置反白，这样底色会是黑色*@
                <div class="navbar-collapse">
                    @*它是说在视口的宽度小于 768px 的时候，将导航变成垂直方向*@
                <ul class="nav nav-pills nav-stacked" style="list-style: none;">
                 @*   <li class="active"><a href="/News/Index">新闻</a></li>*@
                    <li><a href="/News/Index">新闻</a></li>
                    <li><a href="/User/Index">用户信息</a></li>
                    @*<li style="height: 30px;">
                        <a href="/News/Test">Test</a>
                    </li>*@
                </ul>
            </div>
        </nav>
    </div>
  
</div>
    <div class="col-md-8">
        <div class="container-fluid" >
            @RenderBody()
            <hr />
           
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - 新闻管理系统</p>
        </footer>
    </div>
       

        @*@Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)*@
</body>
</html>
@*<div style="float:left; width:10%;height:auto;border:solid 1px;">
        <ul style="list-style: none;">
            <li style="height: 30px; size: 5px;">
                <a href="/News/Index">新闻</a>
            </li>
            <li style="height: 30px;">
                <a href="/News/Test">Test</a>
            </li>
            <li style="height: 30px;">
                <a href="/News/GetTable">GetTable</a>
            </li>
            <li style="height: 30px;">
                <a href="/User/Index">用户信息</a>
            </li>
        </ul>
    </div>*@